@import '../../scss/variables';


.project-form-wrapper {
  text-align: center;
}
.title-input-label {
  font-size: 2em;
  font-family: $main-font;
}

.title-input {
  font-size: 1.5em;
  margin: 0em 2em;
  padding: .25em;
  font-family: $main-font;
}

.generate-palette-button {
  display: block;
  background-color: $accent-color;
  font-family: $accent-font;
  color: $light-font-color;
  font-size: 3em;
  border-radius: 20px;
  padding: .25em;
    &:hover {
      background-color: $hover-accent-color;
      cursor: pointer;
      transform: scale(1.03);
    }
  margin: 1em auto;
}

