@import '../../scss/variables';

.palettes-container {
  display: flex;
  flex-direction: column;
}

.palettes-title {
  font-family: $main-font;
  font-size: 2em;
  margin: 0px auto;
  font-weight: lighter;
}

.display-palette-button{
  display: block;
  background-color: #8FB5A3;
  font-family: "Chewy", cursive;
  color: #fff;
  font-size: 3em;
  border-radius: 20px;
  padding: .25em;
  margin: 1em auto;
}