$accent-font: 'Chewy', cursive;
$main-font: 'Duru Sans', sans-serif;
$background-neutral-color: #d2d2db;
$dark-font-color: #000;
$light-font-color: #fff;
$accent-color: #8FB5A3;
$hover-accent-color: #056367;